<h1>Pages - index</h1>
<ul>
  <li>
    <%= link_to "See the ABSOLUTELY BEST First page", pages_first_path %>
  </li>
  <li>
    <%= link_to "See slightly less awesome (albeit the same as first) second page", pages_second_path %>
  </li>
  <li>
    <%= link_to "See the index of users. It's quite good.", :controller => "users" %>
  </li>
</ul>
